* {

    font-family: "Papyrus", cursive, sans-serif;

}

header {
    display: flex;
    flex-direction: row;
}
#link_wunsch{

    border: 2px solid grey;
    padding: 4px;
}
header a {
    margin-right: 20px;
    padding: 19px;

}

.profil-container {
    display: flex;
    flex-direction: column;
    position: fixed;
     right: 15px;

}

.profil-container label{
    cursor: pointer; text-decoration: underline;
}
#noBild{

    height: 300px;
    width: 400px;
}
.headerlinks {
    display: flex;
    border: 2px solid slategray;
    text-underline: grey;

}

main {
    display: grid;
    place-content:center;


}

a {

    color: slategray;
}

hr {
    margin-top: 10px;
}

#newstab th {
    padding: 5px;
    border: 2px solid slategrey;

}
.bilder{

    text-align: center;
}
.text {
    max-width: 500px;
    border: 2px solid slategray;
    display: flex;
    place-items: center;
}

#wrong{

    color: red;

}

#save{
    color: green;
    margin-top: 3px;
    text-align: center;

}
#preistab th {
    border: 2px solid slategray
}

tr td {
    border: 2px solid slategray
}

#logo {
    border: 2px solid slategray;
    margin-right: 20px;
    place-content: center;
}

footer {
    display: flex;
}

footer p {
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 50%;
    place-content: center;

}

#mensabild {
    display: grid;
    place-items: center;
    margin-right: auto;
    position: relative;
    right: 51px;}


.allergens{

    width: 50%;

}

#head_bild {

    border: 4px solid slategrey;
}

html {
    border: 2px solid slategrey;
}
.zahlen {
    text-align: center;
}